@media(max-width:1199px){}


@media(max-width:991px){
.navbar.nav li{
	text-align: right;
}
.navbar-dark.navbar-nav.nav-link{
	display: inline-block;
	padding-bottom: 10px;
	padding-bottom: 10px;
}
.navbar-dark.navbar-nav.nav-link::after{
	background-color: transparent;
}
.aboutme-section.row{
	align-items: center;
}
.heading span{

	font-size: 67px;
}
.heading h1{
	font-size: 30px;
}
.resume-content p{

	max-width: 260px;
}
}

@media(max-width:767px){
	.banner-content h1{
		font-size: 30px;
	}
	.banner-content p{
		font-size: 12px;
		margin: 20px auto;
	}
	.btn-custom,.btn-custom-reverse{
		font-size: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.aboutme-section.row{
	justify-content: center;
}
.aboutme-img img{
	margin-bottom: 30px;

}
.aboutme-section{
	padding: 50px 0;
}
.heading span{
	width: 100%;
	text-align: center;: 
}
.aboutme-content p{
	text-align: center;
	font-size: 13px;
}
.skill-section.heading span{
	font-size: 42px
}
.skill{
	margin-bottom: 28px;
}
.works-section{

	margin-bottom: 28px;
	padding: 2px;
}
.social-section {
	text-align: center;
}
}


@media(max-width:575px){
	.social-link{
		display: none;

	}
	.resume-box::before,.resume-box::after{
		content: none;
	}
	.resume-content{
		text-align: center;
	}
	.resume-content p{
		margin-left: auto;
		margin-right: auto;

	}
	.resume-section h5{
		text-align: center;
	}
}
